@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #202020;
  --background-end-rgb: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
  height: 100vh;
  max-height: -webkit-fill-available;
}

.dragging  * {
  pointer-events: none;
}

img {
  -webkit-user-drag: none;
}

.scrollbar-none::-webkit-scrollbar{
    display: none;
}
